#root {
  text-align: center;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

.home-background{
  background-image: url("assets/img/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container{
  top: 0;
  right: 0;
  position: absolute;
  margin: 50px;
}

.icon-container i{
  background-color:#000;
  font-size: 25px;
  border-radius: 50px;
  padding: 13px;
  width: 50px;
  height: 50px;
  color:#fff;
  margin: 0 10px;
  animation: boxlight 5s 750ms linear infinite;
}

.icon-container i:hover{
  background-color:#fff;
  transition: 2s;
  color: #000;
}

h1{
  font-size: 90px !important;
  animation: lights 5s 750ms linear infinite;
  color: #000;
}

/*About //////////*/

.about-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content:center ;
  align-items: center;
  animation: color 9s infinite linear;
}

.about-container > div{
  background-color: rgb(40, 28, 28);
  width: 800px;
  height: 300px;
  padding: 50px;
  border-radius: 50px;
}

.about-container p{
  color: #fff;
  font-size: 30px;
}

.about-container i{
  margin: 10px;
  font-size: 30px;
}

/*Skills  //////////*/

.card{
  border-radius: 40px !important;
}

.card:hover{
  z-index: 1;
  transform: rotate(0deg);
  top:-60px
}

.html-card{
  transform: rotate(-40deg);
  left: 250px;
  top:120px;
}

.css-card{
  left: 150px;
  transform: rotate(-30deg);
  top: 30px;
}

.js-card{
  transform: rotate(-10deg);
  left: 50px;
}

.react-card{
  transform: rotate(10deg);
  right:50px;
}

.node-js-card{
  transform: rotate(30deg);
  top: 50px;
  right:150px;
}

.postgre-card{
  right:250px;
  transform: rotate(40deg);
  top: 120px;
}

.card-title{
  display: flex;
  width:100%;
  justify-content: end;
  padding-top: 10px;
  padding-right: 20px;
}

.fa-diamond{
  font-size: 30px;
}

.card-container{
  background-image: url("assets/img/background2.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card-container > div{
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-container h2{
  color: #fff;
}

.card-body{
  padding: 0 !important;
  width: 100% ;
  height: 500px;
}

.cart-sign div{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  font-size: 120px;
}

.cart-sign div img{
  width: 120px;
  height: 120px;
}

.card-text{
  display: flex;
  justify-content:start;
  padding-left: 20px;
  padding-top:40px;
  position:absolute;
  bottom: 0;
  width: 100% ;
  height: 80px;
}

.fa-react{
  color: rgb(4, 197, 236);
}

.fa-html5{
  color: rgb(222, 52, 52);
}

.fa-css3-alt{
  color: rgb(55, 89, 244);
}

.fa-js{
  color: rgb(221, 221, 38);
}

.fa-node-js{
  color: rgb(48, 193, 0);
}

/*Projects  //////////*/

.carousel{
  width: 100vw;
}


.carousel img{
  width: 800px;
  border-radius: 40px;
}

.carousel-control-prev > span{
  background-color: #000;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}


.carousel-control-next > span{
  background-color:  #000;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.pro-img{
  width: 800px;
  margin: auto;
}


.pro-img:hover .h3-desc{
  display: block;
  background-color: rgb(138, 138, 138);
  width: 500px;
  height: 80px;
  margin: auto;
  border-radius: 40px 40px 0 0;
  color: rgb(40, 40, 40);
}

.h3-desc{
  display: none;
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 0;
  left: 0;
}


.me-auto{
  margin: 0 auto;
}
/*Navbar ////*/
.container{
  background-color: rgb(26, 22, 22);
  border-radius: 40px 40px 0 0 ;
  position: absolute;
}

.navbar{
  width: 800px;
  margin: auto;
}

.nav-link{
  display: flex !important;
  flex-direction: column;
  margin: 0 50px;
  height: 200px;
  color: #fff !important;
}

.nav-link i{
  font-size: 30px;
}

.nav-link:hover > .fa-solid{
  position: relative;
  border-radius: 50px;
  top:-40%;
  padding: 13px;
  margin: 0 10px;
  background-color: #000;
}

.nav-link:hover > b{
  display: none;
}

.nav-link:hover > .fa-house{
  animation:moveicon 1s, boxlight-home 3s infinite;
}

.nav-link:hover > .fa-user{
  animation:moveicon 1s, boxlight-about 3s infinite;
}

.nav-link:hover > .fa-bolt{
  animation:moveicon 1s, boxlight-skills 3s infinite;
}

.nav-link:hover > .fa-flask{
  animation:moveicon 1s, boxlight-projects 3s infinite;
}

@media (max-width:414px){
  .nav-link i{
    margin: 10px 0;
  }

  .nav-link{
    margin: 10px 5px !important;
  }

  .navbar-nav {
    width:360px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row !important;
  }

  .container{
    width: 360px !important;
  }

  .nav-link  b{
    display: none;
  }

  .card-container{
    height: 150vh;
    widows: 100vw;
    box-sizing: border-box;
  }
  
  .card-body{
    height: 200px;
  }

  .card-title i{
    margin-left:250px;
  }

  .fa-brands{
    font-size: 50px;
  }

  .card-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .html-card{
    transform: rotate(0deg);
    left: -10px;
    top:10px
  }
  
  .css-card{
    left: -10px;
    transform: rotate(0deg);
    top: 10px;
  }
  
  .js-card{
    transform: rotate(0deg);
    left: -10px;
  }
  
  .react-card{
    transform: rotate(0deg);
    right: 10px;
  }
  
  .node-js-card{
    transform: rotate(0deg);
    top:10px;
    right:10px;
  }
  
  .postgre-card{
    right:10px;
    transform: rotate(0deg);
    top: 10px;
  }

   .cart-sign div{
    font-size: 80px;
   }

   .about-container div{
    width: 300px ;
    height: 500px;
  }

  .about-container div p{
    font-size: 24px;
  }

  .pro-img {
    width: 260px;
    height: 400px;
    display: flex;
    justify-content: center;
  }

  .pro-img:hover .h3-desc{
    width: 350px;
    font-size: 20px;
   }

}

@media (max-width:993px){
  .navbar{
    width: 100%;
    display: flex;
    justify-content: center !important;
  }

  .navbar-nav {
    width:360px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row !important;
  }
  
}

@media (max-width:390px){
  h1{
    font-size: 40px !important;
  }

  /*Navbar */

  .container{
    width: 360px !important;
  }

  .navbar{
    width: 100% ;
  }

  .navbar-nav {
    width:360px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row !important;
  }


  .nav-link{
    
    margin: 0px 5px !important;
  }

  .nav-link i{
    font-size: 20px !important;
  }

  .nav-link  b{
    display: none;
  }

  /*About me */

  .about-container div{
     width: 300px ;
     height: 500px;
  }

  .about-container div p{
    font-size: 24px;
  }

   /*Projects */

   .pro-img {
     width: 360px;
     height: 200px;
     display: flex;
     justify-content: center;
   }

   .pro-img img{
    width: 300px;
   }

   .pro-img:hover .h3-desc{
    width: 200px;
    font-size: 15px;
   }

   /*Skills*/

   .card-container{
     height: 200vh;
   }

   .card-container div{
    display: flex;
    width: 300px;
   }

   .card{
    height: 300px !important;
   }

}

@keyframes moveicon{
  0%   {
    transform:translateY(100%);
}
  100% {transform:translateY(0)}
}


@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #33CC36; }
  40%  { background: #B8CC33; }
  60%  { background: #FCCA00; }
  80%  { background: #33CC36; }
  100% { background: #33CCCC; }
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(108, 94%, 50%, 0.964),
      0 0 0.125em hsla(113, 47%, 35%, 0.952),
      -1em -0.125em 0.5em hsla(128, 54%, 48%, 0.578),
      1em 0.125em 0.5em hsla(106, 100%, 51%, 0);
  }
  
  30% { 
    color: hsl(232, 88%, 6%);
    text-shadow:
      0 0 1em hsl(62, 100%, 50%),
      0 0 0.125em hsl(66, 82%, 49%),
      -0.5em -0.125em 0.25em hsl(50, 90%, 49%),
      0.5em 0.125em 0.25em hsla(67, 54%, 37%, 0.699);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsl(354, 100%, 50%),
      0 0 0.125em hsl(0, 67%, 45%),
      -0.25em -0.125em 0.125em hsla(0, 67%, 48%, 0.794),
      0.25em 0.125em 0.125em hsla(0, 58%, 42%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsl(244, 100%, 50%),
      0 0 0.125em hsl(247, 82%, 46%),
      0.5em -0.125em 0.25em hsl(239, 62%, 43%),
      -0.5em 0.125em 0.25em hsla(247, 39%, 23%, 0.987);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(108, 94%, 50%, 0.964),
      0 0 0.125em hsla(113, 47%, 35%, 0.952),
      -1em -0.125em 0.5em hsla(128, 54%, 48%, 0.578),
      1em 0.125em 0.5em hsla(106, 100%, 51%, 0);
  }
}


@keyframes boxlight{

  0% {
    color: hsl(230, 40%, 80%);
    box-shadow:
      0 0 1em hsla(108, 94%, 50%, 0.964),
      0 0 0.125em hsla(113, 47%, 35%, 0.952),
      -1em -0.125em 0.5em hsla(128, 54%, 48%, 0.578),
      1em 0.125em 0.5em hsla(106, 100%, 51%, 0);
  }
  
  30% { 
    color: hsl(232, 88%, 6%);
    box-shadow:
      0 0 1em hsl(62, 100%, 50%),
      0 0 0.125em hsl(66, 82%, 49%),
      -0.5em -0.125em 0.25em hsl(50, 90%, 49%),
      0.5em 0.125em 0.25em hsla(67, 54%, 37%, 0.699);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    box-shadow:
      0 0 1em hsl(354, 100%, 50%),
      0 0 0.125em hsl(0, 67%, 45%),
      -0.25em -0.125em 0.125em hsla(0, 67%, 48%, 0.794),
      0.25em 0.125em 0.125em hsla(0, 58%, 42%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    box-shadow:
      0 0 1em hsl(244, 100%, 50%),
      0 0 0.125em hsl(247, 82%, 46%),
      0.5em -0.125em 0.25em hsl(239, 62%, 43%),
      -0.5em 0.125em 0.25em hsla(247, 39%, 23%, 0.987);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    box-shadow:
      0 0 1em hsla(108, 94%, 50%, 0.964),
      0 0 0.125em hsla(113, 47%, 35%, 0.952),
      -1em -0.125em 0.5em hsla(128, 54%, 48%, 0.578),
      1em 0.125em 0.5em hsla(106, 100%, 51%, 0);
  }

}

@keyframes boxlight-home{

  0% {
    box-shadow:
      0 0 1em hsl(103, 100%, 49%),
      0 0 0.125em hsla(119, 100%, 50%, 0.952),
      -1em -0.125em 0.5em hsla(141, 100%, 50%, 0.578),
      1em 0.125em 0.5em hsla(111, 97%, 47%, 0);
  }
  
  30% { 
    box-shadow:
      0 0 1em hsl(107, 100%, 38%),
      0 0 0.125em hsl(113, 98%, 48%),
      -0.5em -0.125em 0.25em hsl(116, 97%, 50%),
      0.5em 0.125em 0.25em hsla(67, 54%, 37%, 0.699);
  }
  
  40% { 
    box-shadow:
      0 0 1em hsl(144, 98%, 49%),
      0 0 0.125em hsl(99, 83%, 47%),
      -0.25em -0.125em 0.125em hsla(102, 91%, 49%, 0.794),
      0.25em 0.125em 0.125em hsla(0, 8%, 18%, 0.4);
  }
  
  70% {
    box-shadow:
      0 0 1em hsl(139, 73%, 44%),
      0 0 0.125em hsl(125, 59%, 48%),
      0.5em -0.125em 0.25em hsl(135, 66%, 57%),
      -0.5em 0.125em 0.25em hsla(246, 19%, 10%, 0.987);
  }
  
  100% {
    box-shadow:
      0 0 1em hsla(152, 98%, 50%, 0.964),
      0 0 0.125em hsla(141, 100%, 50%, 0.952),
      -1em -0.125em 0.5em hsla(140, 100%, 36%, 0.578),
      1em 0.125em 0.5em hsla(128, 69%, 34%, 0);
  }

}

@keyframes boxlight-about{

  0% {
    box-shadow:
      0 0 1em hsla(3, 94%, 50%, 0.964),
      0 0 0.125em hsla(7, 80%, 48%, 0.952),
      -1em -0.125em 0.5em hsla(36, 99%, 51%, 0.578),
      1em 0.125em 0.5em hsla(21, 97%, 47%, 0);
  }
  
  30% { 
    box-shadow:
      0 0 1em hsl(23, 97%, 49%),
      0 0 0.125em hsl(19, 98%, 48%),
      -0.5em -0.125em 0.25em hsl(30, 97%, 50%),
      0.5em 0.125em 0.25em hsla(60, 8%, 7%, 0.699);
  }
  
  40% { 
    box-shadow:
      0 0 1em hsl(354, 100%, 50%),
      0 0 0.125em hsl(0, 67%, 45%),
      -0.25em -0.125em 0.125em hsla(0, 67%, 48%, 0.794),
      0.25em 0.125em 0.125em hsla(0, 30%, 8%, 0.4);
  }
  
  70% {
    box-shadow:
      0 0 1em hsl(0, 100%, 50%),
      0 0 0.125em hsl(0, 100%, 50%),
      0.5em -0.125em 0.25em hsl(12, 99%, 27%),
      -0.5em 0.125em 0.25em hsla(251, 52%, 4%, 0.987);
  }
  
  100% {
    box-shadow:
      0 0 1em hsla(15, 100%, 28%, 0.964),
      0 0 0.125em hsla(4, 98%, 51%, 0.952),
      -1em -0.125em 0.5em hsla(16, 100%, 59%, 0.578),
      1em 0.125em 0.5em hsla(0, 83%, 2%, 0);
  }

}

@keyframes boxlight-skills{

  0% {
    box-shadow:
      0 0 1em hsl(231, 100%, 49%),
      0 0 0.125em hsla(236, 98%, 40%, 0.939),
      -1em -0.125em 0.5em hsla(237, 73%, 42%, 0.578),
      1em 0.125em 0.5em hsla(23, 47%, 7%, 0);
  }
  
  30% { 
    box-shadow:
      0 0 1em hsl(242, 64%, 42%),
      0 0 0.125em hsl(250, 74%, 33%),
      -0.5em -0.125em 0.25em hsl(244, 58%, 26%),
      0.5em 0.125em 0.25em hsla(60, 8%, 7%, 0.699);
  }
  
  40% { 
    box-shadow:
    0 0 1em hsl(62, 100%, 50%),
    0 0 0.125em hsl(66, 82%, 49%),
    -0.5em -0.125em 0.25em hsl(50, 90%, 49%),
    0.5em 0.125em 0.25em hsla(67, 54%, 37%, 0.699);
  }
  
  70% {
    box-shadow:
      0 0 1em hsl(233, 81%, 34%),
      0 0 0.125em hsla(246, 69%, 33%, 0.832),
      0.5em -0.125em 0.25em hsl(241, 82%, 27%),
      -0.5em 0.125em 0.25em hsla(253, 60%, 3%, 0.987);
  }
  
  100% {
    box-shadow:
      0 0 1em hsl(187, 100%, 50%),
      0 0 0.125em hsla(191, 93%, 52%, 0.952),
      -1em -0.125em 0.5em hsla(178, 64%, 40%, 0.578),
      1em 0.125em 0.5em hsla(188, 43%, 7%, 0);
  }

}

@keyframes boxlight-projects{

  0% {
    box-shadow:
      0 0 1em hsl(60, 100%, 49%),
      0 0 0.125em hsla(61, 71%, 37%, 0.939),
      -1em -0.125em 0.5em hsla(59, 81%, 35%, 0.578),
      1em 0.125em 0.5em hsla(0, 0%, 0%, 0);
  }
  
  30% { 
    box-shadow:
      0 0 1em hsl(322, 100%, 50%),
      0 0 0.125em hsl(306, 84%, 45%),
      -0.5em -0.125em 0.25em hsl(295, 68%, 55%),
      0.5em 0.125em 0.25em hsla(291, 15%, 9%, 0.699);
  }
  
  40% { 
    box-shadow:
    0 0 1em hsl(62, 100%, 50%),
    0 0 0.125em hsl(66, 82%, 49%),
    -0.5em -0.125em 0.25em hsl(50, 90%, 49%),
    0.5em 0.125em 0.25em hsla(67, 54%, 37%, 0.699);
  }
  
  70% {
    box-shadow:
      0 0 1em hsl(314, 98%, 50%),
      0 0 0.125em hsla(313, 84%, 51%, 0.832),
      0.5em -0.125em 0.25em hsl(313, 56%, 23%),
      -0.5em 0.125em 0.25em hsla(300, 23%, 6%, 0.987);
  }
  
  100% {
    box-shadow:
      0 0 1em hsl(340, 100%, 51%),
      0 0 0.125em hsla(331, 66%, 40%, 0.56),
      -1em -0.125em 0.5em hsla(329, 74%, 20%, 0.578),
      1em 0.125em 0.5em hsl(287, 58%, 19%);
  }

}

